.menu {
  border:1px solid #ccc;  
  margin:2em auto 1em;  
  max-width:650px;  
  min-width:544px;  
  -moz-border-radius:20px;  
  -webkit-border-radius:20px;  
  border-radius:20px;  
  width: 600px;
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 10px;
  padding-left: 10px;
  float: left;
  padding-bottom: 100px;
  OVERFLOW: scroll; 
  HEIGHT: 800px
}

.menu2 {
  border:1px solid #ccc;
  margin:2em auto 1em;
  max-width:650px;
  min-width:544px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  width: 600px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 300px;
  padding-left: 10px;
  float: left;
  padding-bottom: 100px;
  OVERFLOW: scroll;
  HEIGHT: 800px
}

.contact_form {
   margin: 0 auto;
   padding-top: 20px;
   padding-left: 360px;
   text-align:center;
}

.tabs {
  width: 1200px;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 10px;
}

.tabvar {
  padding-bottom: 50px;
}

.tab2 {
  width: 1200px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.accordion {
  width: 1000px;
  margin: 0 auto;
  padding: 50px;

}

.table4_2 table {
        width:100%;
        margin:15px 0;
        border:0;
}
.table4_2 th {
        background-color:#93DAFF;
        color:#000000
}
.table4_2,.table4_2 th,.table4_2 td {
        font-size:0.95em;
        text-align:center;
        padding:4px;
        border-collapse:collapse;
}
.table4_2 th,.table4_2 td {
        border: 1px solid #c1e9fe;
        border-width:1px 0 1px 0
}
.table4_2 tr {
        border: 1px solid #c1e9fe;
}
.table4_2 tr:nth-child(odd){
        background-color:#dbf2fe;
}
.table4_2 tr:nth-child(even){
        background-color:#fdfdfd;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
} 

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.bordered th {
    text-align:right;
    width:200px;
}

.search th {
    text-align:center;
    width:150px;
}

.search td {
   text-align:center;
}

.container {
    text-align:center;
}
