{% load staticfiles %}
<footer class="footer background-color-primary-accent">
    <!--<div class="footer-banner background-color-primary"></div>-->
    <div class="container">
        <p class="text-muted">Copyright © NIBS 2016 | National Institute of Biological Sciences, Beijing </p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'search/jquery.js' %}"></script>
<script src="{% static 'search/jquery-ui.js' %}"></script>
<script src="{% static 'search/bootstrap.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'search/ie10-viewport-bug-workaround.js' %}"></script>

<!-- GOCI JavaScript
================================================== -->
<script src="{% static 'search/goci-ui.js' %}"></script>


</body></html>
