<body>
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DSMND</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/browser/human-hg19">Browse</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/submit">Submission</a></li>
                <li><a href="/Statistics">Statistics</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/about">About</a></li>

            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <div class="navbar-bottom-banner-1 background-color-complementary">
    </div>
    <div class="navbar-bottom-banner-2 background-color-primary-bold">
    </div>
    <div class="navbar-bottom-banner-3 background-color-primary">
    </div>
</nav>
</div>
