{% load staticfiles %}
{% load replace %}
{% include 'header.html' %}

   <link href="{% static 'search/my.css' %}" rel="stylesheet">
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
<script type="text/javascript">
    (function($) {
        $(function() {
            $("#accordion > div").accordion({ header: "h3", collapsible: true });
        })
    })(jQuery);
</script>

{% include 'navi.html' %}

<div class='tabs tabvar'>

<ul id="myTab" class="nav nav-tabs">
   <li class="active">
      <a href="#var" data-toggle="tab">
         Variant Overview
      </a>
   </li>
   <li><a href="#gene" data-toggle="tab">Gene information</a></li>
   <li><a href="#ind" data-toggle="tab">Individual information</a></li>
   <li>
      <a href="#pub" data-toggle="tab">Publication information
      </a>
   </li>
</ul>
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="var">
    <div id="accordion">
    <div>
        <h3><a href="#">Overview</a></h3>
    <table class=bordered>
        <tr>
            <th>Variant ID</th>
            <td>{{ variant.varid }}</td>
        </tr>
        <tr>
            <th>Entrez Gene ID</th>
            <td><a href='/gen/{{ variant.entrez.entrez }}'>{{ variant.entrez.entrez }}</a></td>
        </tr>
        <tr>
            <th>Gene</th>
            <td>{{ variant.gene }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ variant.chrom }}:{{ variant.start }}-{{ variant.end }}</td>
        </tr>
        <tr>
            <th>Disease</th>
            <td>
            {% regroup variant.indid.all by disease as disease_list %}
            {% for disease in disease_list %}
            {% replace search="_" replacement=" " %}{{ disease.grouper }}{% endreplace %}<a href='/dis/{{ disease.list.0.omim }}'>(view all the variants in this disease)</a>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Method</th>
            <td>
            {% for ind in variant.indid.all %}
                {% for mosaic in ind.mosaic_set.all %}
                    {{ mosaic.method }}</br>
                {% endfor %}
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th>DNA Reference allele</th>
            <td>{{ variant.dna_ref_nt }}</td>
        </tr>
        <tr>
            <th>DNA Alternative allele</th>
            <td>{{ variant.dna_alt_nt }}</td>
        </tr>
        <tr>
            <th>HGVS format</th>
            <td>{{ variant.hgvs }}</td>
        </tr>
        <tr>
            <th>Genome Assembly</th>
            <td>{{ variant.genome_assembly }}</td>
        </tr>
     </table>
     </div>
     <div>
        <h3><a href="#">Other information</a></h3>
    <table class=bordered>

        <tr>
            <th>Exon or Intron</th>
            <td>{{ variant.exon_intron }}</td>
        </tr>
        <tr>
            <th>Exon number</th>
            <td>{{ variant.exon_number }}</td>
        </tr>
        <tr>
            <th>Exon nc</th>
            <td>{{ variant.exon_nc }}</td>
        </tr>
        <tr>
            <th>Position in protein</th>
            <td>{{ variant.protein_position }}</td>
        </tr>
        <tr>
            <th>Protein reference amino acid</th>
            <td>{{ variant.pro_ref_aa }}</td>
        </tr>
        <tr>
            <th>Protein alternative amino acid</th>
            <td>{{ variant.pro_alt_aa }}</td>
        </tr>
        <tr>
            <th>Frameshift</th>
            <td>{{ variant.frameshift }}</td>
        </tr>
        <tr>
            <th>Amino acid indel</th>
            <td>{{ variant.aa_indel }}</td>
        </tr>
        <tr>
            <th>Position in cDNA</th>
            <td>{{ variant.cdna_position }}</td>
        </tr>
        <tr>
            <th>cDNA reference allele</th>
            <td>{{ variant.cdna_ref_aa }}</td>
        </tr>
        <tr>
            <th>cDNA alternative allele</th>
            <td>{{ variant.cdna_alt_aa }}</td>
        </tr>
        <tr>
            <th>Indel</th>
            <td>{{ variant.nt_indel }}</td>
        </tr>
        <tr>
            <th>mRNA accession</th>
            <td>{{ variant.mrna_accession }}</td>
        </tr>
        <tr>
            <th>mRNA length</th>
            <td>{{ variant.mrna_length }}</td>
        </tr>
        <tr>
            <th>Reference length</th>
            <td>{{ variant.ref_length }}</td>
        </tr>
        <tr>
            <th>CI of allele frequency (lower)</th>
            <td>{{ variant.af_lower }}</td>
        </tr>
        <tr>
            <th>CI of allele frequency (upper)</th>
            <td>{{ variant.af_upper }}</td>
        </tr>
        <tr>
            <th>Total read</th>
            <td>{{ variant.total_red }}</td>
        </tr>
        <tr>
            <th>Sample Type</th>
            <td>{{ variant.sample_type }}</td>
        </tr>
   </table>
   </div>
   </div>
   </div>
   <div class="tab-pane fade" id="gene">
    <table class=bordered>
        <tr>
            <th>Entrez Gene ID</th>
            <td><a href="http://www.ncbi.nlm.nih.gov/gene?term={{ variant.entrez.entrez }}">{{ variant.entrez.entrez }}(NCBI Gene)</a></td>
        </tr>
        <tr>
            <th>Official Gene Symbol</th>
            <td>{{ variant.entrez.symbol }}</td>
        </tr>
        <tr>
            <th>Number of variants in {{ variant.entrez.symbol }} in this database</th>
            <td>{{ genecount}}  <a href="/gen/{{ variant.entrez.entrez }}">(view all the variants)</a></td>
        </tr>
        <tr>
            <th>Full name</th>
            <td>{{ variant.entrez.fullname }}</td>
        </tr>
        <tr>
            <th>Band</th>
            <td>{{ variant.entrez.location }}</td>
        </tr>
        <tr>
            <th>Other ids</th>
            <td>
            {% for db, id in dblinks.items %}
            {{ db }} : <a href={{ id.1 }} target="_blank">{{ id.0 }}</a></br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Other names</th>
            <td>
                {% for name in names %}
                    {% if forloop.last %}
                        {{ name }}
                    {% else %}
                        {{ name }},
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ variant.entrez.summary }}</td>
        </tr>
    </table>
   </div>
   <div class="tab-pane fade" id="ind">
	<div id="accordion">
    {% for indid in variant.indid.all %}
    <div>
        <h3><a href="#">Individual #{{ forloop.counter }}</a></h3>
    <table class=bordered>
        <tr>
            <th>Individual ID</th>
            <td>{{ indid.indid }} <a href='/ind/{{ variant.indid.indid }}'>(view all the variants in this individual)</a></td>
        </tr>
        <tr>
            <th>Pubmed ID</th>
            <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ variant.indid.pmid }}" target="_blank">{{ indid.pmid }}</a></td>
        </tr>
        <tr>
            <th>Whose mosaic mutation</th>
            <td>{{ indid.whose_mosaic }}</td>
        </tr>
        <tr>
            <th>Origin of mosaic mutation in patients</th>
            <td>{{ indid.patient_mosaic_origin }}</td>
        </tr>
        <tr>
            <th>Phenotype Mosaic</th>
            <td>{{ indid.phenotype_mosaic }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>
            {% if age_lower %}
            {{ indid.age_lower }} 
            {% if age_upper %}
            ~ {{ indid.age_upper }}
            {% endif %}
            {% else %}
                None
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>Number of affected children</th>
            <td>{{ indid.affected_child_nc }}</td>
        </tr>
        <tr>
            <th>Number of affected male children</th>
            <td>{{ indid.affected_male_child_nc }}</td>
        </tr>
        <tr>
            <th>Number of affected female children</th>
            <td>{{ indid.affected_female_child_nc }}</td>
        </tr>
        <tr>
            <th>Number of affected grandson</th>
            <td>{{ indid.affected_grandson }}</td>
        </tr>
        <tr>
            <th>Number of affected granddaughter</th>
            <td>{{ indid.affected_granddaughter }}</td>
        </tr>
        <tr>
            <th>Disease</th>
            <td>{% replace search="_" replacement=" " %}{{ indid.disease }}{% endreplace %}<a href='/dis/{{ indid.omim }}'>(view all the variants in this disease)</a></td>
        </tr>
        <tr>
            <th>OMIM ID</th>
            <td><a href="http://www.omim.org/entry/{{ variant.indid.omim }}" target="_blank">{{ indid.omim }}</a></td>
        </tr>
    </table> 
   </div>
    {% endfor %}
   </div>
   </div>
   <div class="tab-pane fade" id="pub">
	<div id="accordion">
    {% for pmid in variant.pmid.all %}
    <div>
        <h3><a href="#">Publication #{{ forloop.counter }}: {{ pmid.pmid }}</a></h3>
    <table class=bordered>
        <tr>
            <th>Pubmed ID</th>
            <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid.pmid }}" target="_blank">{{ pmid.pmid }}</a></td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ pmid.title }}</td>
        </tr>
        <tr>
            <th>Journal</th>
            <td>{% replace search="_" replacement=" " %}{{ pmid.journal }}{% endreplace %}</td>
        </tr>
        <tr>
            <th>Publication date</th>
            <td>{{ pmid.date }}</td>
        </tr>
        <tr>
            <th>Disease</th>
            <td>{% replace search="_" replacement=" " %}{{ pmid.disease }}{% endreplace %}</td>
        </tr>
        <tr>
            <th>Population</th>
            <td>{{ pmid.population }}</td>
        </tr>
        <tr>
            <th>Incidence</th>
            <td>
            {% if incidence_lower %}
            {{ pmid.incidence_lower }} 
            {% if incidence_upper %}
            ~ {{ pmid.incidence_upper }}
            {% endif %}
            {% else %}
                None
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>Number of male cases</th>
            <td>{{ pmid.male_cases }}</td>
        </tr>
        <tr>
            <th>Number of female cases</th>
            <td>{{ pmid.female_cases }}</td>
        </tr>
        <tr>
            <th>Number of other cases</th>
            <td>{{ pmid.other_cases }}</td>
        </tr>
        <tr>
            <th>Paternal age effect</th>
            <td>{{ paternal_age_effect }}</td>
        </tr>
    </table>
   </div>
   {% endfor %}
   </div>
   </div>
</div>

</div>

</body>
{% include 'footer.html' %}
